// Theme colors //

$theme-colors: (
  primary: blue,
  secondary: gray,
  success: teal,
  primary-light: #dee4ee,
  success-light: #ecfaec,
  info-light: #f2fafa,
  warning-light: #fdf7e6,
  danger-light: #fff2ef,
  info: skyblue,
  warning: yellow,
  danger: red,
  dark: gray,
  inverse: #002b49,
  gray: #d7dfe6,
  default: #e9ecef,
  white: #fff,
);

// Scaffolding //

$body-bg: #f9fbfd !default;
$body-bg-light: lighten($body-bg, 3%);

$addition-bg: gray !default;

$logo-color: gray;

// Typography //

$font-family-sans-serif: 'Montserrat', sans-serif !default;

$body-color: gray !default;
//$body-color: #57534A; //a bit brown?

$font-size-initial: 14px; // reset default browser value from 16px to 13px
$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-larger: 1.1rem;
$font-size-mini: 0.9rem;
$font-size-index: 0.7rem;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-thin !default;

$font-size-smaller: 85% !default;

$line-height-base: 1.55 !default;
$link-color: #218bc3 !default;

// Layout //

$navbar-height: 60px !default;
$navbar-font-size: 13px !default;
$navbar-bg: transparent;
$navbar-shadow: 4px 4px 30px 0 rgba(75, 102, 171, 0.2);

$content-padding-vertical: 42px !default;
$content-padding-top: $content-padding-vertical + $navbar-height !default;
$content-padding-horizontal: 40px !default;

$grid-gutter-width: 40px;

$border-radius: 0.3rem !default;
$border-radius-lg: 0.35rem !default;
$border-radius-sm: 0.25rem !default;

$border-style: solid;
$border-width: 1px;
$border-width-alt: 2px;
$border-radius: 0;

$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;
$margin-xl: 80px;

$padding-s: $margin-s $margin-s + 5;
$padding-m: $margin-m;
$padding-l: $margin-m + 10px $margin-l;

$transition-all: all 1.35s cubic-bezier(0, 1, 0.22, 1);
$transition-duration: 1s;
$transition-duration-alt: 0.1s;
$transition-timing: cubic-bezier(0, 1, 0.22, 1);

// Breadcrumbs //
$breadcrumb-divider: '>';
$breadcrumb-padding-y: 0;
$breadcrumb-bg: transparent;

// Form states and alerts //

$state-success-bg: #ecfaec !default;
$state-info-bg: #f2fafa !default;
$state-warning-bg: #fdf7e6 !default;
$state-danger-bg: #fff2ef !default;

$state-success-text: #3c763d !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info-text: #31708f !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning-text: #8a6d3b !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-danger-text: #a94442 !default;
$state-danger-border: darken($state-danger-bg, 5%) !default;
